
<div class='jumbotron'>
	<div id='overlay'>

 <h1 class='text-center center-block pulse'>Howdy!</h1>
<button id=""  name="singlebutton" class="btn btn-primary btn-lg center-block ">Next Step!</button> </div><!--end of overlay container-->

</div><!--end of jumbotron-->
<div class='bar col-lg-12'>
</div>
<!--video -->
<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=RAsQees1x-w',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>WITH ME, SKYS THE LIMIT!</h1>  
        <h3>MY CREATIVITY COUPLED WITH MY TECHNICAL SKILL IS A POWERFUL COMBO!</h3>
       </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->
<!--Video Section Ends Here-->
<div class='bar-zebra col-lg-12'></div>

<div class='row one' id='one'>
 <div class='col-lg-6 col-xs-12 col-md-6 para'>
 	  <h1>Say Owl! App</h1>
	 	<p>I created an app that will enable users to extend their party experience.Say Owl will help users find bars and restaurants still open nearby, as well call an Uber after they have partied and eaten to their hearts content. The app intergrates the Yelp Api and Google Maps.
      </div>
 <div class=' col-lg-6 col-xs-12 col-md-6 img-responsive'>
	 	<img src="/assets/sayowlapp.svg" class='up' id='owl-app' >
 </div>
</div>
<!--end of row-->
<div class='bar'></div>

<div class='row two owl'>
 <div class='col-lg-6 col-md-6 img-reponsive '>
 	  <img src="/assets/sayowltablet.svg" id='owl-tablet' >
 </div>

<div class=' col-lg-6 col-md-6 img-responsive'>
	 	<img src="/assets/sayowlphone.svg" id='owl-phone' >
 </div>
</div>
<!-- end of row -->
<div class='bar-grey'></div>
    <div class='row three'>
    	 	<img src="/assets/hangsta1.svg" class='col-lg-6  col-md-6 img-responsive' id='hangy'>
     
    	 <div class='col-lg-6 col-md-6'>
    	  <h1 class='text-left'>hangsta App</h1>
     	  <p> I co-created hangsta to help people form groups around common interests and 
              post events that they would like others to join. This application also enables 
              users to message back and forth and geolocate events using Google Maps API.</p>
          </div>
	 </div>

<!-- end of row -->
<div class='bar-zebra'></div>
<div class='row four'>
	 <div class='col-lg-6 col-md-6  col-xs-12 text-center' >
	  <img src="/assets/macbookpro.svg" class='img-responsive'>
   </div>
    <div class='col-lg-6 col-md-6 col-xs-12 text-center' >
	  <img src="/assets/hangcard.png" class='img-responsive'>
   </div>

</div>

<!-- end of row -->

<div class='bar'></div>
<div class='row five' id='five'>
	 <div class='col-lg-12 col-md-12 text-center' >
	 	<h1>About</h1>
	 	<p>
	      My name is Deinde and I’m a recovering comic book collector.  I also happen to
          be a graphic designer, digital designer, fashion designer, interface designer, and 
          a full stack web developer to boot. Feel free to connect with me through my 
          LinkedIn page, which I have provided a link to at the bottom of the site. Cheers!
	 	</p>
   </div>
</div>

<!-- end of row -->





<div class='bar-zebra' id='six'></div>
<div class='bar'></div>
<!--portfolio-->

  <div class="row" >
    <h1 class='text-center gray'>Work Samples</h1>
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 1"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 2"><img src="/assets/quicky-logo.jpg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 3"><img src="/assets/fuji-box.jpg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 4"><img src="/assets/pull_card_blue.jpg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 5"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 6"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 8"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 9"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 10"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 11"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 12"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
      <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 13"><img src="/assets/hangsta.svg" class="thumbnail img-responsive"></a></div>
    </div>
    <hr>
    <a href="http://bootply.com/71401">Edit on Bootply</a>
    <hr>
  </div>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title">Heading</h3>
    </div>
    <div class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
   </div>
  </div>
</div>



<!-- end of portfolio -->
	

<div class='bar-tiffany '></div> 
<footer class='row five'>

 
	 <div class='col-lg-12 col-md-12' id='contact'>
	  <h1 class='text-center dance'>That's All Folks</h1>
 	  <ul class='text-center'>
 	  	<li class='text-center'><a href="https://github.com/deinde"><img src="/assets/github.png"></a></li>
 	  	<li class='text-center'><a href="https://www.linkedin.com/in/deinde"><img src="/assets/linkdin.png"></a></li>
 	  	<li class='text-center'><a href="http://www.deindedawodu.net/"><img src="/assets/websiteicon.svg"></a></li>
 	  </ul>
 </div>
	 
 </footer>
<!--end of footer-->
